langchain
langchain-community
langchain-openai
langchain-chroma
langgraph
chromadb
openai
redis
psycopg[binary]
fastapi
uvicorn
python-dotenv
httpx
pypdf
langgraph-checkpoint-postgres
pathlib
google-genai
streamlit
pandas
kestra
